<div data-role="page">
  <div data-role="header">
    <h1 data-icon="bars">LOGIN</h1>
  </div>
  <div data-role="content">
    <form>
      <input type="text" name="phoneNumber" id="phoneNumber" value="" placeholder="Phone Number">
      <input type="text" name="password" id="password" value="" placeholder="Password">
      <input type="button" value="Login" data-theme="b">
      <input type="submit" value="Signup" data-iconpos="right" data-mini="true" data-theme="e">
    </form>
  </div>
</div>
